@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}
body {
    background-color: #FEFEF1;
    margin: 5px;
    color: #5F4C44;
    font-family: 'PlayfairDisplay', sans-serif;
}

a {
    font-size: 1.875rem;
    text-align: center;
    text-shadow: 1px 1px #EBA789;
    text-decoration: none;
    color: #5F4C44;
    font-weight: 700;
    margin-left: 8px;
}
